*{
    margin:0;
    padding: 0;
    list-style: none;
}
.wrap{
    width: 100%;
    height: 100%;
    background: #ccc;
}
.box{
    width:400px;
    height: 300px;
    background: #fff;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
}
.tit{
    width:100%;
    height: 50px;
    line-height: 50px;
    text-align:  center;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.span{
    width:40px;
    height:40px;
    border: 1px solid red;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
   
    position: absolute;
    top: -20px;
    right:-5px;
}
.con{
    width:100%;
    height: 100px;
    line-height: 80px;
    text-align: center;
}
.left, .right{
    width:50px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-left: 25%;
    margin-top: 60px;
}